# Dependencies
node_modules/

# Build output
build/

# Environment variables
.env

# System files
.DS_Store
*.log

# IDE specific files
.idea/
.vscode/
.cursor/

# Runtime data
data/*.json
!data/projects.json

# Logs
npm-debug.log*

# OS files
pids
*.pid
*.seed
*.pid.lock 